body {
    background-image: url(image/warm2.0.png);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: black;
}
#navbar {
background-image: url(image/Nav.png);
background-position: center;
background-attachment: fixed;
background-size: cover;
background-repeat: no-repeat;
box-shadow: 2px;
text-align: center;
border-radius: 15px;
margin: 10px;
padding: 10px;
outline: outset;
}
#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap:20px
    
    
}

#navbar a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.3s;
    
}

#navbar a:hover {
    color: #6b4f32;
}
 .menu-img {
    display: block;
    margin:10px auto;
    border-radius: 10%;
    width: 150px;
 margin-bottom: 10px;;
  transition: transform 0.3s ease;
   
}
.menu-category {
  background-color: white;
    border-radius: 10px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 900px;

}
.item p {
    margin-bottom: 20px;
    text-align: center;
}
.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
#about, #contact {
    border-radius: 15px;
    margin: 20px auto;   
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 900px;
}
.contact-form {
    display: block;
    text-align: center;
    margin-top: 20px;
}
#contact{
    background-image: url(image/coffe.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover; 
    color: white;
    display: block;
    text-align: center;
   
 }
#about{
    background-color: white;
 }
 .href{
    color: white;
 }
 .menu-img:hover {
    transform: scale(1.1);
 }