body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color:#fff;
    border-bottom: 10px;
    margin: auto;
    border-top: 15px;
    border-bottom: 15px;
    


}
header nav a{
    text-decoration: none;
    color: #fff;
    margin: 0 15px;
    font-weight: bold;
    transition: ease 0.3s;

}
header nav a:hover {
    text-underline-offset: #000000;
    transform: translateY(-10px);
}

 .catalog {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px;

 }
 .card {
    border-radius:10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 15px;
    text-align: center;
    transition: ease 0.2s;
 }
    .card:hover {
        transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
 .car-img {
   width:100%;
   border-radius:15px;
    margin-bottom:15px;
    height: auto;



 }
 .card p {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
 }
 .card button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
 }

 footer {
   
   text-align: center;
   background-color: black;
   color: white;
   height: 50px;
   padding-top: 10px;
 }
 footer a {
   color:#fff;
   text-decoration: none;
 }
